<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud icon.png">
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <img class="portrait" src="/img/sky photo.png"> <!-- class="" tells that you want this image to take on CSS styles under class .portrait-->
                                                                <!-- src = source attribute -->

    </div>

    {{>footer}}
</body>

</html>