<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/cloud icon.png">
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        {{>header}}   <!--rendering a partial: something which will display in all templates-->

        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>