<!--dynamic doc instead of static index.html-->
<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloud icon.png">
    <!-- use link to set up stylesheet, rel=relationship to link, href=path to file we're trying to load -->
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        <!-- template engine for creating a dynamic header which applies to ALL html pages without needing to be put in each html file -->
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>  <!-- for loading in client-side js files --> 
</body>

</html>